##################################################
#  example config
##################################################
server:
  # proxy: "http://localhost:9090/"   #default http://localhost:9090
  proxy: "https://vm-01.dp.nlmk.com:8428"
  # proxy: "http://localhost:8428/" 
  port: 8080                            #default 8080
  authentication: true                  #default true
  id-header: 'X-Prom-Liver-Id'          #default X-Prom-Liver-Id (could be reloaded)
  api-enable: true                      #default true
  api-labels-enable: true               #default false (for VictoriaMetrics only! don't activate on prometheus!)
  federate-enable: true                 #default true
  admin-api-enable: true                #default true (POST/PUT to <admin-port>:/admin/config/reload)
  admin-port: 8888                      #default 8888
  remote-auth: 'Basic dGVzdDp0ZXN0Cg==' #default ""
  remote-insecure-skip-verify: true     #default false

clients_files:
  - "configs/client*"

clients:
  'go-metrics': 
    auth:
      basic:
        user: user1
        password: password1
      header: true
      bearer:
        files:
          - "configs/secret_*"
    match:
      - '{project=~"go-.*"}'
      - 'job{env="test"}'
      - 'up{some=~".*oops.*"}'
  'cadvisor':
    auth:
      bearer:
        tokens: 
          - 'TESTTEST'
          - 'TESTTEST2'
    match:
      - '{env="test"}'
    inject: '{project="spep",__name__="net_tcp_attemptfails"}'
    filter:
      - '{xxxxx="xxxx"}'